
<div class="event study-meeting">
<div class="event-eyecatch">
  <img src="/assets/images/events/akashi/20140406_studyMeeting.jpg">
  <span></span>
</div>
<div class="event-info">
<h2>Code for KOSEN 勉強会 #1<span>Study Meeting #1</span></h2>
<p>
Code for KOSEN とは、 高専の抱える様々な課題を解決するための「データ」や「コード」を作成・開発・提供していこう！という組織ですが、メンバー各々がすべての技術に詳しいわけではありません。
というわけで、これらの情報をみんなで教えあおう！というイベント、つまり「勉強会」をどんどん開催して行こうと考えています！
早速ですが、2014年4月、Code for KOSENの勉強会シリーズ第一弾を開催します！
</p>

<h3>テーマ 「先どり！ 最近流行りの“アレ”」</h3>

<p>
記念すべき第一回の勉強会のテーマは、 「先どり！ 最近流行りの“アレ”」 です。
オープンデータや競技プログラミング、闇の言語、デザインの流行などジャンルを問わず流行りモノなら何でもOKです！事前知識がない方も大歓迎！ みんなで一緒に勉強しましょう。
</p>

<h2>開催概要</h2>
<dl>
  <dt>開催日時</dt><dd>2014/4/6 10:00 〜 16:00</dd>
  <dt>開催場所</dt>
    <dd>[明石会場] 明石高専 一般科棟3階 合併教室</dd>
    <dd>[松江会場] 松江オープンソースラボ</dd>
  <dt>参加費</dt><dd>無料</dd>
</dl>

<a href="http://codeforkosen.doorkeeper.jp/events/9585" class="with-doorkeeper">明石会場でイベントに参加する！</a>
<a href="http://codeforkosen.doorkeeper.jp/events/9797" class="with-doorkeeper">松江会場でイベントに参加する！</a>


<h2>タイムテーブル</h2>

<h3>明石会場</h3>
<table>
<thead>
  <tr>
    <th>時間</th>
    <th>発表者</th>
    <th>タイトル</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</td>
    <td>司会者</td>
    <td>オープニングトーク</td>
  </tr>
  <tr>
    <td>10:05</td>
    <td>Ismail Arai</td>
    <td>MIT App Inventor 2で簡単Androidアプリ開発</td>
  </tr>
  <tr>
    <td>10:38</td>
    <td>Yuki Matsuda</td>
    <td>Code for KOSENのすゝめ ~ オープンデータ編</td>
  </tr>
  <tr>
    <td>10:56</td>
    <td>休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>11:06</td>
    <td>izumin5210</td>
    <td>Web APIとMashupして便利アプリをつくろう！</td>
  </tr>
  <tr>
    <td>11:24</td>
    <td>Yoshihiro Wada</td>
    <td>【Android】外国人向けラーメン検索アプリを作る話</td>
  </tr>
  <tr>
    <td>11:42</td>
    <td>Hikaru Sasaki</td>
    <td>Code for Matsue（松江会場）</td>
  </tr>
  <tr>
    <td>12:00</td>
    <td>昼休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>13:00</td>
    <td>ゆう</td>
    <td>後輩に見限られないための名前付け入門</td>
  </tr>
  <tr>
    <td>13:33</td>
    <td>Yuki Matsuda</td>
    <td>SVGとD3.jsで始めるちょっとリッチなデータ可視化</td>
  </tr>
  <tr>
    <td>14:51</td>
    <td>休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>14:01</td>
    <td>izumin5210</td>
    <td>かんたんスマホアプリにゅうもん！</td>
  </tr>
  <tr>
    <td>14:34</td>
    <td>rean</td>
    <td>いままでのPerl、これからのPerl</td>
  </tr>
  <tr>
    <td>15:07</td>
    <td>休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>15:20</td>
    <td>---</td>
    <td>LT大会</td>
  </tr>
  <tr>
    <td>15:55</td>
    <td>司会者</td>
    <td>クロージングトーク</td>
  </tr>
</tbody>
</table>


<h3>松江会場</h3>
<table>
<thead>
  <tr>
    <th>時間</th>
    <th>発表者</th>
    <th>タイトル</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>10:00</td>
    <td>司会者</td>
    <td>オープニングトーク</td>
  </tr>
  <tr>
    <td>10:05</td>
    <td>Ismail Arai</td>
    <td>MIT App Inventor 2で簡単Androidアプリ開発（明石会場）</td>
  </tr>
  <tr>
    <td>10:38</td>
    <td>Yuki Matsuda</td>
    <td>Code for KOSENのすゝめ ~ オープンデータ編（明石会場）</td>
  </tr>
  <tr>
    <td>10:56</td>
    <td>休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>11:06</td>
    <td>izumin5210</td>
    <td>Web APIとMashupして便利アプリをつくろう！（明石会場）</td>
  </tr>
  <tr>
    <td>11:24</td>
    <td>Yoshihiro Wada</td>
    <td>【Android】外国人向けラーメン検索アプリを作る話（明石会場）</td>
  </tr>
  <tr>
    <td>11:42</td>
    <td>Hikaru Sasaki</td>
    <td>Code for Matsue</td>
  </tr>
  <tr>
    <td>12:00</td>
    <td>昼休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>13:00</td>
    <td></td>
    <td>Arduinoワークショップ（120分）</td>
  </tr>
  <tr>
    <td>15:07</td>
    <td>休憩</td>
    <td></td>
  </tr>
  <tr>
    <td>15:20</td>
    <td>---</td>
    <td>LT大会</td>
  </tr>
  <tr>
    <td>15:55</td>
    <td>司会者</td>
    <td>クロージングトーク</td>
  </tr>
</tbody>
</table>

<h2>発表内容</h2>

<table>
<thead>
  <tr>
    <th>名前</th>
    <th>枠</th>
    <th>タイトル</th>
    <th>概要</th>
  </tr></thead>
<tbody>
  <tr>
    <td>Ismail Arai</td>
    <td>30</td>
    <td>MIT App Inventor 2で簡単Androidアプリ開発</td>
    <td>MIT App Inventor 2という開発環境を使うとブラウザ上のGUI操作だけでAndroidアプリが開発できます。 アプリ作りを実演しますので、会場にノートPCとAndroid端末が準備できる人は是非一緒に体験してください。 また、MIT App Inventor 2の解説サイトはCC BY SAで英語で公開されています。 これを日本語に翻訳するプロジェクトをCode for KOSENで立ち上げませんか？</td>
  </tr>
  <tr>
    <td>Yuki Matsuda</td>
    <td>15</td>
    <td>Code for KOSENのすゝめ ~ オープンデータ編</td>
    <td>最近話題のオープンデータって何なの？についてご紹介。さらに、オープンデータとCode for KOSENの組み合わせ事例と併せて、Code for KOSENの活動全般について説明します。</td>
  </tr>
  <tr>
    <td>izumin5210</td>
    <td>15</td>
    <td>Web APIとMashupして便利アプリをつくろう！</td>
    <td>明石高専の講義情報オープンデータをWeb API化し公開します。システム自体もMITライセンスで公開する予定なので、みなさんのIssueやPull Requestをお待ちしております。</td>
  </tr>
  <tr>
    <td>Yoshihiro Wada</td>
    <td>15</td>
    <td>【Android】外国人向けラーメン検索アプリを作る話</td>
    <td>ひょんな事から始まった外国人向けラーメン検索アプリを色々と人気のライブラリなりAPIなり組み合わせて作る話をしようと思います（予定）</td>
  </tr>
  <tr>
    <td>Hikaru Sasaki</td>
    <td>15</td>
    <td>Code for Matsue</td>
    <td>code for matsueについて概要、経緯、今後の活動などを発表する予定です。</td>
  </tr>
  <tr>
    <td>ゆう</td>
    <td>30</td>
    <td>後輩に見限られないための名前付け入門</td>
    <td>春は出会いと別れの季節。学生のみなさんも、社会人のみなさんも、新しく後輩が入ってくるでしょう。しかし、名前付けの基礎のないプログラマでは後輩に見限られてしまいます。 最低限、先輩として恥ずかしくない名前付けができるよう、名前付けの基礎の基礎について解説していきます。 えっ？新入社員/新入生？ 名前付けの基礎を身につけて、ふざけた名前をつける先輩を倒せるようにしておきましょう。</td>
  </tr>
  <tr>
    <td>Yuki Matsuda</td>
    <td>15</td>
    <td>SVGとD3.jsで始めるちょっとリッチなデータ可視化</td>
    <td>HTML,CSSに並ぶかもしれない要素、SVG（Scalable Vector Graphics）を紹介するっぽい！SVGはInternetExplorer9で正式対応され、スマートフォン対応サイトなど、多種多様な画面サイズに対応しなければならない現代において活躍が期待される画像フォーマットっぽい！今回は、Code for KOSEN加盟高専一覧データを作って可視化してみるっぽい！</td>
  </tr>
  <tr>
    <td>izumin5210</td>
    <td>30</td>
    <td>かんたんスマホアプリにゅうもん！</td>
    <td>昨年度公開された明石高専のオープンデータ（シラバス・時間割）を利用して、講義情報を手軽にかんたんに閲覧できるスマートフォンアプリをライブコーディングします。 敷居が高いと思われがちなオープンデータやスマートフォンアプリ開発がとても簡単にできるということを実演していきます。</td>
  </tr>
  <tr>
    <td>rean</td>
    <td>30</td>
    <td>いままでのPerl、これからのPerl</td>
    <td>昔のPerlを振り返るところから、これからのPerlについてまでざっくり話します。たぶん。 気分次第で全然違う話するかも。</td>
  </tr>
  <tr>
    <td>中里恵理奈</td>
    <td>LT</td>
    <td>高専生はなぜヘンなのか？</td>
    <td>今まで多くの高専関連のイベントに参加し、様々な高専出身者と出会った。その数々の交流の中で私が感じた全国高専の共通点の１つは、「高専生はみな変わり者だ」ということである。しかし、なぜ高専生は変わっているのだろうか？　この高専生１人１人の独特なパーソナリティーを、社会で上手く生かすことができるのだろうか？　これらのふとした疑問を解決してみたいと思い、高専出身者に限らずあらゆる場所・場面で働いている、または勉学に勤しんでいる多くの人たちから話を聞いた。今回は、その「調査」から得られた「結果」と「考察」を、今後の私の展望とともにお伝えする。</td>
  </tr>
  <tr>
    <td>塚本英成</td>
    <td>LT</td>
    <td>【悪魔の先輩達が】WordpressでC4K公式サイト作ってみた【こっちを見てる】</td>
    <td>WordPressのちょっとした話を…</td>
  </tr>
  <tr>
    <td>ノアン</td>
    <td>LT</td>
    <td>勉強会に行こう</td>
    <td>勉強会に行こうって感じの内容です． 時間があれば30分枠のスライドもなにか作ります．</td>
  </tr>
</tbody>
</table>


<h2>発表者募集</h2>

<p>
  発表者条件： 不問 （明石高専生以外の学生、社会人の方でも可）<br>
  ※ 分野も情報系に限りません。流行りモノに触れたければ誰でもOKです。
</p>

<h3>発表枠</h3>

<dl>
<dt>30分枠</dt><dd>がっつり存在感を放ちたい人向け</dd>
<dt>15分枠</dt><dd>軽いデモやちょっとしたライブコーディングをしたい人向け</dd>
<dt>LT枠（5〜10分）</dt><dd>ちょっとした小話をしたい人向け（Lightning Talk）</dd>
</dl>
</div>
</div>
