
<div class="event study-meeting">
<div class="event-eyecatch">
  <img src="/assets/images/events/akashi/20140406_studyMeeting.jpg">
  <span></span>
</div>
<div class="event-info">
<h2>Code for KOSEN 勉強会 #1<span>Study Meeting #1</span></h2>
<p>
Code for KOSEN とは、 高専の抱える様々な課題を解決するための「データ」や「コード」を作成・開発・提供していこう！という組織ですが、メンバー各々がすべての技術に詳しいわけではありません。
というわけで、これらの情報をみんなで教えあおう！というイベント、つまり「勉強会」をどんどん開催して行こうと考えています！
早速ですが、2014年4月、Code for KOSENの勉強会シリーズ第一弾を開催します！
</p>

<h3>テーマ 「先どり！ 最近流行りの“アレ”」</h3>

<p>
記念すべき第一回の勉強会のテーマは、 「先どり！ 最近流行りの“アレ”」 です。
オープンデータや競技プログラミング、闇の言語、デザインの流行などジャンルを問わず流行りモノなら何でもOKです！事前知識がない方も大歓迎！ みんなで一緒に勉強しましょう。
</p>

<h2>開催概要</h2>
<dl>
  <dt>開催日時</dt><dd>2014/4/6 10:00 〜 16:00</dd>
  <dt>開催場所</dt>
    <dd>[明石会場] 明石高専 一般科棟3階 合併教室</dd>
    <dd>[松江会場] 松江オープンソースラボ</dd>
  <dt>参加費</dt><dd>無料</dd>
</dl>

<a href="http://codeforkosen.doorkeeper.jp/events/9585" class="with-doorkeeper">明石会場でイベントに参加する！</a>
<a href="http://codeforkosen.doorkeeper.jp/events/9797" class="with-doorkeeper">松江会場でイベントに参加する！</a>

<h2>タイムテーブル</h2>

<p>発表者が決まり次第ご連絡致します。</p>


<h2>発表者募集</h2>

<p>
  発表者条件： 不問 （明石高専生以外の学生、社会人の方でも可）<br>
  ※ 分野も情報系に限りません。流行りモノに触れたければ誰でもOKです。
</p>

<h3>発表枠</h3>

<dl>
<dt>30分枠</dt><dd>がっつり存在感を放ちたい人向け</dd>
<dt>15分枠</dt><dd>軽いデモやちょっとしたライブコーディングをしたい人向け</dd>
<dt>LT枠（5〜10分）</dt><dd>ちょっとした小話をしたい人向け（Lightning Talk）</dd>
</dl>
</div>
</div>
