---
layout: default
single: true
---

<section class="header-visual">
  <h1 class="page-title"><span>{{ page.title }}<span class="date">{{ page.date | date: "%d %B %Y" }}</span></span></h1>
</section>
<article class="post">
  <div class="article-wrap clearfix">
  {% include article.html %}
  </div>
</article>
{% unless page.sharing == false %}
<!--	{% include post/sharing.html %} -->
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h2 class="title">Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}