footer.site-footer {
  width: 100%;
  height: 100px;
  line-height: 50px;
  background-color: $footer-bgColor;
  color: $footer-fontColor;
  div.footer-wrap {
    text-align: center;
    height: 100%;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
      width: 960px;
    }
    @media screen and (max-width: 1024px){
      width: 100%;
      max-width: 960px;
    }
    @media screen and (max-width: 600px){
      width: 100%;
    }
  }
}