header.site-header {
  width: 100%;
  height: 80px;
  div.header-wrap {
    height: 100%;
    margin: 0 auto;
    @media screen and (min-width: 1024px){
      width: 960px;
    }
    @media screen and (max-width: 1024px){
      width: 100%;
      max-width: 960px;
    }
    @media screen and (max-width: 640px){
      width: 100%;
    }
    nav.gnav {
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      width: 100%;
      height: 80px;
      background-color: $gnav-bgColor;
      h1 {
        float: left;
        width: 120px;
        height: 80px;
        margin: 0 10px;
        background-color: $gnav-bgColor;
        background-image: image-url("gnav/gnav-title.png");
        background-size: 100px 60px;
        background-repeat: no-repeat;
        background-position: center;
        a {
          display: block;
          width: 100%;
          height: 100%;
          span {
            display: none;
          }          
        }
      }
      span.drawer-btn {
        display: none;
      }
      ul {
        float: left;
        li {
          float: left;
          height: 80px;
          @media screen and (min-width: 800px){
            width: 120px;
            background-size: 100px 40px;
          }
          @media screen and (max-width: 800px){
            width: 100px;
            background-size: 100px 40px;
          }
          background-color: $gnav-bgColor;
          background-repeat: no-repeat;
          background-position: center;
          &.gnav-apps {
            background-image: image-url("gnav/gnav-apps.png");
          }
          &.gnav-opendata {
            background-image: image-url("gnav/gnav-opendata.png");
          }
          &.gnav-events {
            background-image: image-url("gnav/gnav-events.png");
          }
          &.gnav-member {
            background-image: image-url("gnav/gnav-member.png");
          }
          &.gnav-about {
            background-image: image-url("gnav/gnav-about.png");
          }
          &:hover {
            background-color: $gnav-bgColor-hover;
          }
          a {
            display: block;
            width: 100%;
            height: 100%;
            span {
              display: none;
            }          
          }
        }
      }
    }
    @media screen and (max-width: 640px){
      nav.gnav {
        z-index: 10;
        background-color: transparent;
        h1 {
          position: relative;
          z-index: 6;
          width: 100%;
          height: 40px;
          margin: 0;
          background-image: image-url("gnav/gnav-title-sp.png");
          background-size: 150px 30px;
          a {
            width: 160px;
            margin: 0 auto;
          }
        }
        span.drawer-btn {
          position: absolute;
          z-index: 7;
          top: 0;
          left: 0;
          display: block;
          width: 40px;
          height: 40px;
          background-image: image-url("header/drawer-btn-icon.png");
          background-size: 30px;
          background-repeat: no-repeat;
          background-position: center;
        }
        ul {
          display: none;
          position: fixed;
          z-index: 7;
          top: 40px;
          width: 70%;
          height: 1000px;
          background-color: $gnav-bgColor;
          border-top: 1px solid $brand-lighter;
          li {
            border-bottom: 1px solid $brand-lighter;
            float: none;
            width: 100%;
            height: 60px;
          }
        }
        div.drawer-shade {
          background: black;
          opacity: 0.7;
          display: none;
          position: fixed;
          top: -50%;
          left: -50%;
          z-index: 5;
          width: 200%;
          height: 200%;
        }
      }
    }
  }
  @media screen and (max-width: 640px){
    & {
      height: 40px;
    }
  }
}
