---
layout: page
title: "Open Data"
date: 2013-11-28 15:44
comments: true
sharing: true
footer: true
---

<section>
<h1>2015年度</h1>
<ul>
  <li>{% include _opendata/global/2015/kosen-kosenevents.html %}</li>
  <li>{% include _opendata/global/2015/kosen-kosenfestivals.html %}</li>
  <li>{% include _opendata/akashi/2015/anct-cafemenu.html %}</li>
  <li>{% include _opendata/akashi/2015/anct-syllabus.html %}</li>
  <li>{% include _opendata/akashi/2015/anct-timetable.html %}</li>
</ul>
</section>
<section>
<h1>2014年度</h1>
<ul>
  <li>{% include _opendata/akashi/2014/anct-cafemenu.html %}</li>
  <li>{% include _opendata/akashi/2014/anct-syllabus.html %}</li>
  <li>{% include _opendata/akashi/2014/anct-timetable.html %}</li>
</ul>
</section>
<section>
<h1>2013年度</h1>
<ul>
  <li>{% include _opendata/akashi/2013/anct-syllabus.html %}</li>
  <li>{% include _opendata/akashi/2013/anct-timetable.html %}</li>
</ul>
</section>
