*{
  margin: 0;
  padding: 0;
}

body{
  background: $body-bgColor;
  font-family: $fontFamily-base;
  font-size: $fontSize-normal;
  color: $body-fontColor;
}

a {
  color: $brand-darker;
}
a:hover {
  color: $brand;
}
