<div class="footer-wrap">
  <div class="social-box clearfix">
    <div class="fb-like-box" data-href="https://www.facebook.com/codeforkosen" data-width="420" data-height="300" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    <div class="twitter-box">
      <a class="twitter-timeline" href="https://twitter.com/codeforkosen" data-widget-id="422991240741670912">@codeforkosen からのツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
  </div>
  <small>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</small>
</div>
