  <div class="header-wrap">
    <nav class="gnav">
      <h1><a href="/"><span>{{ site.title }}</span></a></h1>
      <span class="drawer-btn"></span>
      <ul>
        <li class="gnav-apps">
          <a href="/apps/"><span>Apps</span></a>
        </li>
        <li class="gnav-opendata">
          <a href="/opendata/"><span>OpenData</span></a>
        </li>
        <li class="gnav-events">
          <a href="/events/"><span>Events</span></a>
        </li>
        <li class="gnav-member">
          <a href="/member/"><span>Member</span></a>
        </li>
        <li class="gnav-about">
          <a href="/about/"><span>About</span></a>
        </li>
        <li class="gnav-blog">
          <a href="/blog/"><span>Blog</span></a>
        </li>
      </ul>
    </nav>
  </div>