  <div class="header-wrap">
    <nav class="gnav">
      <h1><a href="./"><span>{{ site.title }}</span></a></h1>
      <span class="drawer-btn"></span>
      <ul>
        <li class="gnav-apps">
          <a href="./apps/"><span>Apps</span></a>
        </li>
        <li class="gnav-opendata">
          <a href="./opendata/"><span>OpenData</span></a>
        </li>
        <li class="gnav-event">
          <a href="./event/"><span>Event</span></a>
        </li>
        <li class="gnav-member">
          <a href="./member/"><span>Member</span></a>
        </li>
        <li class="gnav-about">
          <a href="./about/"><span>About</span></a>
        </li>
      </ul>
    </nav>
    <h1 class="top-title"><span>{{ site.title }}</span></h1>
  </div>