section.header-visual {
  h1.top-title {
    width: 100%;
    height: 320px;
    background-image: image-url("header/logo.png");
    background-size: 460px 120px;
    @media screen and (max-width: 640px){
      height: 200px;
      background-size: 80% auto;
    }
    background-repeat: no-repeat;
    background-position: center;
    span { display: none; }
  }
}
article.c4k-outline {
  background: $outline-bgColor;
  div.article-wrap {
    section {
      @media screen and (min-width: 1024px){
        width: 30%;
        padding: 20px 0;
        margin: 0 1.66%;
      }
      @media screen and (max-width: 1024px){
        width: 30%;
        padding: 20px 0;
        margin: 0 1.66%;
      }
      @media screen and (max-width: 640px){
        width: 80%;
        padding: 0 10%;
        margin: 0;
      }
      float: left;
      text-align: center;
      h1 {
        color: $fontColor-h1;
        font-size: $fontSize-h1;
      }
      img {
        width: 80%;
        max-width: 112px;
        padding: 30px 0 20px;
        @media screen and (max-width: 640px){
          width: 30%;
        }
      }
      p {
        padding: 15px 20px;
      }
    }
  }
}

article.post-list {
  div.article-wrap {
    padding: 20px 0;
    > a {
      float: left;
      display: block;
      &:hover {
        background: $gray-bright;
      }
      section {
        margin: 5px 0;
        img {
          width: 100%;
        }
        h1 {
          padding: 5px 0;
          line-height: $fontSize-large;
          font-size: $fontSize-large;
          color: $brand-darker;
        }
        p {
          padding: 5px 0 0;
          color: $gray-dark;
        }
        span {
          font-size: $fontSize-small;
          color: $gray;
          &.read-more {
            margin: 10px 0 0;
            color: $brand-darker;
            float: right;
            &:after {
              content: " ≫";
            }
          }
        }
      }
      @media screen and (min-width: 800px){
        & {
          padding: 15px 2%;
          width: 21%;
        }
      }
      @media screen and (max-width: 800px){
        & {
          padding: 15px 5%;
          width: 40%;
        }
      }
      @media screen and (max-width: 600px){
        @media screen and (min-width: 480px){
          & {
            padding: 15px 5%;
            width: 90%;
            section {
              img {
                float: left;
                width: 35%;
              }
              h1 {
                float: left;
                width: 55%;
                padding: 0 5%;
              }
              p, span {
                float: right;
                width: 55%;
                padding: 0 5%;
              }
            }
          }
        }
      }
      @media screen and (max-width: 480px){
        & {
          padding: 0 5%;
          width: 90%;
        }
      }
    }
  }
}