div.main {
  article.member {
    section.branch {
      padding: 30px 0;
      > h1 {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        font-size: $fontSize-huge;
        color: $brand-dark;
        border: 1px solid $brand-light;
        border-width: 0 0 1px;
        &:before {
          content: "Branch: ";
          font-size: $fontSize-normal;
        }
      }
      ul {
        display: block;
        margin: 20px 5%;
        text-align: center;
        li {
          text-align: center;
          display: inline-block;
          width: 26%;
          padding: 10px 3%;
          img {
            width: 100%;
            max-width: 200px;
            border: 1px solid $gray-light;
          }
          h2 {
            font-size: $fontSize-large;
            span {
              display: block;
              font-size: $fontSize-normal;
            }
          }
        }
      }
      @media screen and (max-width: 640px){
        ul {
          li {
            width: 33%;
          }
        }
      }
      @media screen and (max-width: 480px){
        ul {
          margin: 20px 0;
          li {
            height: 100px;
            width: 80%;
            padding: 10px 10%;
            img {
              width: 100px;
              float: left;
            }
            h2 {
              margin: 0 0 0 130px;
              padding: 20px 0 0;
              text-align: left;
              span {
                font-size: $fontSize-small;
                display: block;
              }
            }
          }
        }
      }
    }
  }
}