article.post {
  div.article-wrap {
    header {
      display: none;
    }
    div.social-button {
      width: 80%;
      max-width: 600px;
      margin: 20px auto;
      div {
        display: inline-block;
        margin: 0 15px 0 0;
      }
    }
    div.entry-content {
      margin: 0 auto;
      border: 1px solid $brand;
      border-width: 1px 0;
      padding: 30px 3%;
      width: 80%;
      max-width: 600px;
      line-height: 1.8;
      img {
        width: 100%;
      }
      strong {
        font-weight: bold;
      }
      p {
        padding: 10px 0;
      }
      > h1 {
        font-size: 16px;
        font-weight: bold;
      }
      > h2 {
        padding: 20px 0 0;
        font-size: 14px;
        font-weight: bold;
      }
      > hr {
        display: block;
        height: 1px;
        margin: 20px 0;
        border: none;
        background: $brand;
      }
      blockquote {
        position: relative;
        padding: 10px 10px 10px 55px;
        color: #999;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: "“";
          line-height: 80px;
          font-size: 70px;
          font-weight: bold;
          font-family: times;
          color: #ccc;
        }
        a:last-child {
          display: block;
          text-align: right;
          padding: 0 10px;
          &:before {
            content: "[引用]　";
          }
        }
      }
      dl {
        margin: 10px 0 0;
        dt {
          font-weight: bold;
        }
        dd {
          padding: 2px 0 2px 10px;
          margin: 5px 0 20px 10px;
          border: 1px solid #ddd;
          border-width: 0 0 0 5px;
        }
      }
      ul {
        li {
          margin: 1px 0 1px 30px;
          list-style: circle;
        }
      }
      div.person {
        padding: 50px 20px 30px;
        float: right;
        &:before {
          content: "記 : ";
          float: left;
          width: 40px;
          line-height: 50px;
        }
        img {
          width: 50px;
          float: left;
        }
        h2 {
          margin: 10px 0 0 110px;
          font-size: $fontSize-normal;
          line-height: 1.5;
          span {
            font-size: $fontSize-small;
            display: block;
          }
        }
      }
    }
  }
}