---
layout: page
title: "Member"
date: 2013-11-28 15:44
comments: true
sharing: true
footer: true
---
<section class="branch">
<h1>Akashi</h1>
<ul>
  <li>{% include _member/akashi/izumi.html %}</li>
  <li>{% include _member/akashi/matsuda.html %}</li>
  <li>{% include _member/akashi/nakata.html %}</li>
  <li>{% include _member/akashi/arai.html %}</li>
  <li>{% include _member/akashi/tamai.html %}</li>
  <li>{% include _member/akashi/wada.html %}</li>
  <li>{% include _member/akashi/hirashima.html %}</li>
  <li>{% include _member/akashi/tsukamoto.html %}</li>
</ul>
</section>

<section class="branch">
<h1>Toyama</h1>
<ul>
  <li>{% include _member/toyama/hirano.html %}</li>
</ul>
</section>

<section class="branch">
<h1>Hiroshima-M</h1>
<ul>
  <li>{% include _member/hiroshima-m/takagaki.html %}</li>
</ul>
</section>

<section class="branch">
<h1>Fukui</h1>
<ul>
  <li>{% include _member/fukui/fukuno.html %}</li>
</ul>
</section>

<section class="branch">
<h1>Maizuru</h1>
<ul>
  <li>{% include _member/maizuru/ikemoto.html %}</li>
</ul>
</section>

<section class="branch">
<h1>Matsue</h1>
<ul>
  <li>{% include _member/matsue/sasaki.html %}</li>
  <li>{% include _member/matsue/yoshioka.html %}</li>
</ul>
</section>
