---
layout: default
---

{% assign index = true %}
<div class="blog">
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="article">{% include article.html %}
      <div class="post-truncator"><a href="{{ post.url }}">続きを読む</a></div></article>
{% endfor %}
<nav id="pagenavi">
    {% if paginator.previous_page %}
        <a href="{{paginator.previous_page}}" class="prev">＜ 前のページ</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{paginator.next_page}}" class="next">次のページ ＞</a>
    {% endif %}
</nav>
</div>
