---
layout: default
---

<article class="c4k-outline clearfix">
	<section>
		<img src="images/top/outline-kosen.png">
		<h1>コードで、高専を変える</h1>
		<p>
			Code for KOSENは、 高専生活における「こうしたい！」を高専生が IT と デザイン の力で実現していくための組織です。
		</p>
	</section>
	<section>
		<img src="images/top/outline-node.png">
		<h1>コードで、高専を繋ぐ</h1>
		<p>
			高専の抱える問題の多くは「共通」したものが多いでしょう。
			Code for KOSENでは、高専間で抱える問題を共有することが、 解決への糸口であると考えています。
		</p>
	</section>
	<section>
		<img src="images/top/outline-smile.png">
		<h1>コードで、高専を楽しもう</h1>
		<p>
			「ものづくり」を純粋に楽しみたい。
			そんな高専生が全国にいるとしたら… ワクワクしませんか？ 小さなことからはじめましょう。それがあなたの Code for X です。
		</p>
	</section>
</article>


{% assign index = true %}
{% if paginator.total_pages > 1 %}
    <nav id="pagenavi">
        {% if paginator.previous_page %}
            <a href="{{paginator.previous_page}}" class="prev">Previous</a>
        {% endif %}
        {% if paginator.next_page %}
            <a href="{{paginator.next_page}}" class="next">Next</a>
        {% endif %}
    </nav>
{% endif %}
